@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital@0;1&family=Shantell+Sans:wght@300&display=swap');

body {
    font-family: 'Montserrat',
        sans-serif;
    margin: 0px;
    background-color: lightblue;
}

table, th, td {
    border: 1px solid;
}

.btn{
    background-color:rgb(220, 58, 58);
    color:black;
    cursor: pointer;
    padding: 0.5rem;
    width: 6rem;
    border-radius: 0.5rem;
}

.container{
    display: flex;
    flex-direction: column;
    text-align: center;
}

.input-field{
    width: 30%;
    padding: 12px 20px;
    border-radius: 3px;
    border:3px solid gray;
    margin: 8px 0;
    box-sizing: border-box;
}